.product_card_list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}
.product_card_list_item{
   margin: 20px;
   width: 300px;
}


.priceProduct{
font-size: 18px;
   .oldPrice{
      
      span{
         color: red;
         text-decoration: line-through;
         font-weight: 600;
      }
   }
   .newPrice{
      span{
         color: green;
         font-weight: 600;
      }
   }
}

.priceWithoutDiscount{
   font-size: 18px;
   font-weight: 600;
}

.countNamber{
   font-size: 25px;
}