$Lato: 'Lato',
sans-serif;
$Playfair: 'Playfair Display',
serif;
$footerGrey: #363636;

@mixin link {
   text-decoration: none;
   margin-left: 10px;
   font-family: $Lato;
   font-weight: 700;
   font-size: 14px;
   color: #393939;
   margin: 0;
}

@mixin img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   z-index: -1;
}



.container {
   max-width: 1330px;
   margin: 0 auto;
   padding: 0 20px;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   bottom: -104px;
   width: 190px;
   height: 52px;
   font-size: 24px;
   font-family: $Lato;
   font-weight: bold;
   color: #fff;
   background-color: #f09d66;
   text-transform: uppercase;
   outline: none;
   text-decoration: none;
   transition: all .1s linear;
   cursor: pointer;

   &:hover {
      background-color: #ffffff27;
      border: 3px solid #f09d66;
   }

   &:active {
      background-color: #995e368a;
   }
}

//buttonUp
.buttonUp {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   bottom: 30px;
   right: 30px;
   width: 40px;
   height: 40px;
   background-color: rgba(0, 0, 0, 0.6);
   border: none;
   border-radius: 5px;
   color: #fff;
   outline: none;
   opacity: 0;
   transition: opacity 0.3s linear;
   cursor: pointer;
   z-index: 1000;

}

//burger menu
$primary-color: #f09d66;
$space-m: 16px;

.mobile-menu {
   position: fixed;
   display: none;
   align-items: center;
   justify-content: flex-end;
   padding: 0 $space-m;
   top: 0;
   background-color: $primary-color;
   left: 0;
   right: 0;
   height: 50px;
   z-index: 1000;

   &__btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 30px;
      cursor: pointer;
      transition: .4s;
   }

   &__icon {
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 1);
      width: 90%;
      height: 4px;
      transition: .4s;

      &::after,
      &::before {
         content: "";
         display: block;
         position: absolute;
         background: rgba(255, 255, 255, 1);
         width: 100%;
         height: 4px;
         transition: .4s;
      }

      &::after {
         top: 8px;
      }

      &::before {
         top: -8px;
      }
   }

   &__container {
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 999;
      height: 0;
      opacity: 1;
      transition: .5s;
      transition-delay: .2s;
      overflow: hidden;
      background-color: $primary-color;
   }

   &__list {
      transition: .5s;
      transition-delay: .5s;
      list-style: none;
      padding-left: 0;
      margin-top: -50px;
   }

   &__item {
      font-size: 26px;
      padding-bottom: 15px;
   }

   &__link {
      text-decoration: none;
      color: #fff;
   }

   &__checkbox {
      display: none;

      &:checked~ {
         .mobile-menu {

            &__nav {
               opacity: 1;
               transition-delay: 0s;
            }

            &__container {
               height: 100%;
               transition-delay: 0s;
            }

            &__btn {
               .mobile-menu__icon {
                  background: transparent;

                  &::before,
                  &::after {
                     top: 0;
                  }

                  &::after {
                     transform: rotate(-45deg);
                     -webkit-transform: rotate(-45deg);
                  }

                  &::before {
                     transform: rotate(45deg);
                     -webkit-transform: rotate(45deg);
                  }
               }
            }
         }
      }
   }
}

//Header
.header {
   position: relative;
   width: 100%;
   height: 20%;
   background-color: rgb(255, 255, 255);
   z-index: 100;

   &:after {
      content: '';
      position: absolute;
      bottom: -73px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 0;
      border-style: solid;
      border-color: #ffffff transparent;
      border-width: 137px 404px 0;
      left: 50%;
      z-index: 1;
   }
}

.header__bar {
   width: 100%;
   height: 38px;
   background-color: #f2f2f2;

}

.header__bar-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 38px;
}

.header__bar-phone {
   a {
      @include link;

      &:hover {
         text-decoration: underline;
      }
   }
}

.header__bar-link {
   display: flex;
   justify-content: space-between;
   width: 510px;

   a {
      @include link;
      position: relative;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      width: 25%;

      &:hover {
         text-shadow: 1px 0px 0px rgb(163, 163, 163);
      }

      &::before {
         content: '';
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         width: 1px;
         height: 11px;
         background-color: #393939;
         box-shadow: 1px 0px 0px 0px rgb(163, 163, 163);
      }
   }
}

.header__nav {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   height: 155px;
   z-index: 101;
}

.nav {
   width: 33.33%;

   ul {
      display: flex;

      li {
         list-style: none;
         font-size: 18px;
         font-family: $Playfair;
         color: #000;
         margin: 0 15px;
         cursor: pointer;
         transition: all 0.2s linear;

         &:hover {
            text-decoration: underline;
            text-shadow: 1px 0px 0px rgb(163, 163, 163);
         }
      }
   }
}

.header__title {
   display: flex;
   justify-content: center;
   width: 33.33%;
   font-size: 82px;
   font-family: 'Krinkes Decor PERSONAL';
   font-weight: 400;
   margin: 0;
}

.header__social {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 33.33%;
   height: 100%;

   a {
      text-decoration: none;
      color: #d9bf8f;
      font-size: 15px;
      margin-left: 12px;
      border: 2px #d9bf8f solid;
      border-radius: 50%;
      padding: 10px;
      transition: all 0.1s linear;

      &:hover {
         color: #7c6944;
         background-color: #d9bf8f;
         border-color: #c4aa7a;
      }

      &:active {
         transform: scale(0.95);
         background-color: #a08b63;
      }
   }
}

.fa-facebook:before {
   content: "\f09a";
   padding: 0 3px;
}

.header__select {
   position: relative;
   width: 90px;
   height: 35px;
   background-color: #000;
   color: #fff;
   font-size: 12px;
   font-family: $Lato;
   font-weight: bold;
   text-transform: uppercase;
   padding-left: 14px;
   outline: none;
   cursor: pointer;
   appearance: none;
}

.select-wrapper::after {
   font-family: FontAwesome;
   content: "\f107";
   position: absolute;
   top: 50%;
   right: 11px;
   font-weight: bold;
   transform: translateY(-50%);
   color: #fff;
   font-size: 12px;
   cursor: pointer;
}


//main-slider
.slider-wrapper {
   position: relative;
   width: 100%;
   height: auto;
}

.slider {
   min-width: 0;
   width: 100%;
   height: 100%;
}


.slider__slid {
   position: relative;
   width: 100%;
   height: 100%;
}

.slider__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   z-index: -1;
}

.slider__content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 277px;
   height: 277px;
   border: 2px #fff solid;

   &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 259px;
      height: 259px;
      border: 1px #fff solid;
      font-family: $Lato;
      font-weight: bold;
      text-transform: uppercase;

      p {
         font-size: 20px;
         color: #fff;
      }

      h3 {
         font-size: 60px;
         color: #000;
         margin: 0;
      }

      .UpTo-line {
         margin-bottom: 20px;

         &::after {
            content: '';
            position: absolute;
            left: 59px;
            bottom: 100px;
            width: 33px;
            height: 1px;
            background-color: #fff;
         }

         &::before {
            content: '';
            position: absolute;
            right: 59px;
            bottom: 100px;
            width: 33px;
            height: 1px;
            background-color: #fff;
         }

         span {
            position: relative;
            font-size: 20px;
            color: #fff;

            &::after {
               content: '';
               position: absolute;
               left: -75px;
               bottom: 4px;
               width: 60px;
               height: 1px;
               background-color: #fff;
            }

            &::before {
               content: '';
               position: absolute;
               right: -75px;
               bottom: 4px;
               width: 60px;
               height: 1px;
               background-color: #fff;
            }
         }
      }

      h4 {
         font-size: 24px;
         color: #000;
      }
   }
}

//slider-dots
.ant-carousel .slick-slider{
   ul{
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
   }
}
.ant-carousel .slick-dots{
   display: flex !important;
   justify-content: space-between !important;
   height: 30px;
   max-width: 150px;
   margin: 0 auto;
}

.ant-carousel .slick-dots li.slick-active button{
      width: 20px;
      height: 20px;
      background-color: #000 !important;
      transform: rotate(45deg);
}
.ant-carousel .slick-dots li button{
      width: 20px !important;
      height: 20px !important;
      background-color: rgb(0, 0, 0) !important;
      transform: rotate(45deg);
}


// Support

.support {
   display: flex;
   width: 100%;
   height: 100px;
   margin-top: 66px;

   &__left {
      display: flex;
      width: 30%;
      height: 100%;
      background-color: #d9bf8f;
      clip-path: polygon(88% 0, 100% 50%, 88% 99%, 0% 100%, 0 50%, 0% 0%);
   }

   &__center {
      display: flex;
      width: 36.66%;
      height: 100%;
      background-color: #000;
      clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 1%);
   }

   &__rigth {
      display: flex;
      width: 30%;
      height: 100%;
      background-color: #d9bf8f;
      clip-path: polygon(100% 0, 100% 50%, 100% 99%, 12% 100%, 0 50%, 12% 0);
   }
}

.support__icon {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 48px;
   color: #fff;
   width: 100px;
   height: 100%;
}

.support__icon-margin {
   margin-left: 30px;
}

.suppurt__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #fff;
   font-family: $Lato;

   h3 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #fff;
   }

   p {
      font-size: 14px;
      font-weight: 400;
   }
}

//Partition
.partition {
   display: flex;
   align-items: center;
   width: 100%;
   height: 51px;
   margin: 90px 0 56px 0;

   .partition__title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 40%;
      font-size: 30px;
      font-family: $Playfair;
      font-weight: bold;

      &::after {
         content: '';
         position: absolute;
         left: 60px;
         width: 18px;
         height: 18px;
         transform: rotate(45deg);
         background-color: #d9bf8f;
      }

      &::before {
         content: '';
         position: absolute;
         right: 60px;
         width: 18px;
         height: 18px;
         transform: rotate(45deg);
         background-color: #d9bf8f;
      }
   }

   .partition__line {
      width: 30%;
      height: 1px;
      background-color: #eaeaea;
   }
}

//Featured

.featured {

   display: grid;
   grid-template-rows: 400px 400px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   width: 100%;

   .featured__item {
      position: relative;
      width: 100%;
      height: 100%;

      img {
         @include img();
      }
   }
}

.featured__item-3 {
   grid-column: 2/3;
   grid-row: 1/3;
}

.featured__item-inner {
   position: absolute;
   top: 32px;
   left: 22px;
   right: 22px;
   bottom: 32px;
   border: 3px solid #fff;
   border-radius: 3px;
   overflow: hidden;
   cursor: pointer;
   transition: all 0.3s linear;

   &:hover {
      border: none;
      background-color: rgba(0, 0, 0, 0.2);

      .slider__btn-featured {
         bottom: 35px
      }
   }
}

.slider__btn-featured {
   position: absolute;
   left: 50%;
   bottom: -100px;
   transform: translate(-50%);
   width: 109px;
   height: 42px;
   font-size: 14px;
   transition: bottom 0.4s linear;
}

//Recent

.recent {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, max(348px));
   grid-gap: 20px;
   border: 1px #eaeaea solid;
   border-radius: 1px;
   padding: 20px;
}

.recent__item {
   position: relative;
   overflow: hidden;
   background-color: #dddddf;

   img {
      @include img();
      transition: transform 0.4s linear;
   }

   &-discount {
      position: absolute;
      top: 18px;
      left: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background-color: #feab12;
      border-radius: 50%;
      z-index: 100;

      p {
         display: flex;
         flex-wrap: nowrap;
         position: relative;
         font-size: 22px;
         font-family: $Lato;
         font-weight: bold;
         color: #fff;

         span {
            display: block;
            font-size: 11px;
            margin-left: 3px;
            margin-top: 3px;
         }
      }
   }

   &-blackout {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.3s linear;
   }

   &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 200px;
      height: 45px;
      clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
      background-color: #000;
      transition: background-color 0.2s linear;
      font-size: 14px;
   }

   &:hover {
      .recent__item-blackout {
         background-color: rgba(0, 0, 0, 0.5);
      }

      .recent__item-btn {
         background-color: #f0975c;
      }

      img {
         transform: scale(1.05);
      }
   }
}

//Our Brand

.brand {
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
   min-height: 222px;

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16.66%;
   }
}

//Testimonal

.testimonal {

   width: 100%;
   height: 400px;
   background-color: #d9bf8f;
   clip-path: polygon(35% 0, 0 0, 0 100%, 100% 100%, 100% 0, 65% 0, 50% 10%);
}

.testimonial__inner {
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
   height: 400px;
}

.testimonial__item {
   display: flex;
   align-items: center;
   width: 50%;
   height: 100%;

   img {
      display: block;
   }

   &-2 {
      justify-content: flex-end;
   }
}

.testimonial__item-content {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 300px;
   font-family: $Playfair;
   margin: 0 20px;

   i {
      font-size: 18px;
      color: #fff;
   }

   h4 {
      font-size: 30px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      margin: 50px 0 15px;
   }

   p {
      font-family: $Lato;
      font-weight: bold;
      font-size: 14px;
      color: #7f7e7e;
      text-transform: uppercase;
   }

   &-rigth {
      text-align: right;
   }
}

//Footer
.footer {
   position: relative;
   width: 100%;
   min-height: 652px;
   background-color: #141414;
   padding: 60px 0;
}

.footer__top {
   display: flex;
   width: 100%;
   height: 445px;
}

.footer-title {
   font-family: $Lato;
   font-weight: bold;
   font-size: 16px;
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 50px;

   i {
      font-family: $Playfair;
      text-transform: lowercase;
      cursor: pointer;
   }

}

.footer__top-item {
   width: 20%;

   ul {
      list-style: none;
      padding: 0;

      li {
         padding-bottom: 15px;

         a {
            font-family: $Lato;
            font-weight: bold;
            font-size: 14px;
            color: #737373;
            text-decoration: none;
            transition: all 0.1s linear;

            &:hover {
               color: #fff;
               padding-left: 4px;
            }
         }
      }
   }
}

.footer__top-social {
   width: 40%;
}

.footer__top-social-ico {
   display: flex;
   margin-bottom: 50px;

   a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      background-color: #fff;
      border-radius: 50%;
      color: #141414;
      font-size: 24px;
      text-decoration: none;
      margin-right: 15px;
      transition: all .2s linear;

      &:hover {
         background-color: #141414;
         color: #ffffff;
         border: 2px #fff solid;
      }
   }
}

.footer__top-social-form {

   form {
      display: flex;
      flex-direction: column;

      .input-wrapper {
         position: relative;
         width: 362px;
         height: 42px;

         #email {
            width: 100%;
            height: 100%;
            font-family: $Lato;
            font-weight: bold;
            font-size: 14px;
            padding: 3px 111px 3px 22px;
            background-color: #141414;
            border: 1px $footerGrey solid;
            border-radius: 1px;
            outline: none;

            &:focus {
               background-color: #fff;
            }
         }

         button {
            position: absolute;
            top: 3px;
            right: 3px;
            bottom: 3px;
            width: 100px;
            background-color: $footerGrey;
            font-family: $Lato;
            color: #fff;
            font-size: 12px;
            border: none;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            transition: all 0.1s linear;

            &:hover {
               background-color: #2b2929;
            }

            &:active {
               transform: scale(0.97);
            }
         }
      }
   }
}

.footer__bottom {
   &-line {
      position: relative;
      width: 100%;
      height: 1px;
      background-color: $footerGrey;

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 26px;
         height: 10px;
         background-color: $footerGrey;
         clip-path: polygon(50% 100%, 0 0, 100% 0);
      }
   }

   &-text {
      width: 260px;
      color: $footerGrey;
      font-size: 11px;
      line-height: 18px;
      margin: 30px 0;
   }

   &-card {
      img {
         margin: 0 13px;
      }
   }
}



.footer__end {
   width: 100%;
   height: 43px;
   background-color: #000;
}





















//Media
@media(max-height: 420px) {
   .slider {
      height: 150vh !important;
   }

   .slider__img {
      height: 130vh !important;
   }
}


/*========= iPads (portrait and landscape) ======= */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
   .header:after {
      bottom: -41px;
      border-width: 48px 124px 0;
   }

   .slider__content-inner .UpTo-line {
      margin-bottom: -8px;
   }

   .header__title {
      font-size: 55px;
      margin-top: 20px;
   }

   .nav ul {
      padding: 0;

      li {
         font-size: 16px;
         margin: 0 13px;
      }
   }

   .header__nav {
      height: 70px;
   }

   .header__social {
      padding: 0 20px;

      a {
         padding: 8px;
         font-size: 12px;
      }
   }

   .header__select {
      width: 65px;
   }

   .select-wrapper::after {
      right: 190px;
   }

   //Slider main
   .slider__content {
      top: 39%;
   }

   //Support
   .suppurt__content {
      h3 {
         font-size: 21px;
      }
   }

   .support__icon-margin {
      margin-left: 17px;
   }

   //partition
   .partition__title {
      width: 60% !important;
   }

   .partition__line {
      width: 20% !important;
   }

   //feature
   .featured {
      grid-template-rows: 300px 300px;
   }
//dots-slider
   .ant-carousel .slick-slider {
      ul {
         bottom: 0 !important;
      }
   }


}

@media(max-width: 1024px) {
   .slider-wrapper {
      top: 50px;
      margin-bottom: 120px;
   }

   .mobile-menu {
      display: flex;
   }

   .header {
      display: none;
   }

   .testimonal {
      height: auto;
   }

   .testimonial__inner {
      flex-wrap: wrap;
      height: 100%;
   }

   .testimonial__item {
      width: 100%;
   }
}


@media (max-width: 768px) {

   .header__social {
      width: 70%;
   }

   .header__title {
      width: 30%;

      h1 {
         margin: 0;
      }

   }

   //Slider
   .slider-wrapper {
      margin-bottom: 120px;
   }

   .slider {
      height: 70vh;
   }

   .slider__img {
      height: 70vh;
   }

   .slider__slid {
      height: 100%;
   }

   .slider__content {
      width: 200px;
      height: 200px;

      .slider__content-inner {
         width: 182px;
         height: 182px;

         p {
            font-size: 14px;
            margin-bottom: 0 !important;
         }

         h3 {
            font-size: 35px;
         }

         .UpTo-line {
            margin: 0;

            span::before {
               bottom: 12px;
            }

            span::after {
               bottom: 12px;
            }
         }
      }

   }



   .slider__content-inner .UpTo-line span::before {
      right: -50px;
      width: 40px;
   }

   .slider__content-inner .UpTo-line span::after {
      left: -50px;
      width: 40px;
   }

   .slider__content-inner .UpTo-line::before {
      right: 33px;
      bottom: 79px;
      width: 25px;
   }

   .slider__content-inner .UpTo-line::after {
      left: 33px;
      bottom: 79px;
      width: 25px;
   }

   .slider__btn {
      bottom: -100px;
      height: 48px;
   }

   //support
   .support {
      margin: 0;
      flex-direction: column;
      height: auto;
   }

   .support__left {
      width: 100%;
      height: 100px;
      clip-path: polygon(50% 0, 100% 0, 100% 85%, 49% 100%, 0 85%, 0 0);
   }

   .support__center {
      width: 100%;
      height: 100px;
      clip-path: polygon(50% 15%, 100% 0, 100% 85%, 49% 100%, 0 85%, 0 0);
   }

   .support__rigth {
      width: 100%;
      height: 100px;
      clip-path: polygon(50% 15%, 100% 0, 100% 100%, 49% 100%, 0 100%, 0 0);
   }

   //partition
   .partition__title {
      width: 70% !important;
      font-size: 22px !important;
   }

   .partition__line {
      width: 15% !important;
   }

   .partition .partition__title::before {
      right: 15px;
   }

   .partition .partition__title::after {
      left: 15px;
   }

   //Featured
   .featured {
      grid-template-rows: 250px 250px 250px;
      grid-template-columns: 1fr 1fr;
   }

   .featured__item-inner {
      position: absolute;
      top: 12px;
      left: 8px;
      right: 8px;
      bottom: 12px;
   }

   //Recent
   .recent {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, max(348px));
      grid-gap: 15px;
      padding: 15px;
   }

   //brand
   .brand {
      flex-wrap: wrap;

      div {
         width: 33.33%;
         margin-top: 30px;
      }
   }

   //Footer
   .footer__top {
      height: auto;
      flex-wrap: wrap;

      .footer__top-item {
         width: 33.33%;
      }

      .footer__top-social {
         width: 100%;
         margin-bottom: 30px;
      }
   }

}

/*======== Smartphones (portrait and landscape) ======== */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
   .slider-wrapper {
      margin-bottom: 70px;
   }

   .slider {
      height: 70vh;
   }

   .slider__img {
      height: 55vh;
   }

   .slider__content {
      top: 34%;
   }

   //support

   .support {
      flex-direction: column;
      height: auto;
   }

   .suppurt__content {
      h3 {
         font-size: 22px;
         margin: 0;
      }
   }

   .support__icon-margin {
      margin: 0;
   }

   //partition
   .partition {
      margin: 25px 0 5px 0;
   }

   .partition__title {
      width: 100% !important;
      font-size: 25px !important;
   }

   .partition__line {
      display: none;
   }

   .partition .partition__title::before {
      right: 0px;
   }

   .partition .partition__title::after {
      left: 0px;
   }

   //feature
   .featured {
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 1fr 1fr;
   }

   .featured__item-inner {
      position: absolute;
      top: 12px;
      left: 8px;
      right: 8px;
      bottom: 12px;
   }

   .slider__btn-featured {
      width: 90px;
      height: 35px;
      font-size: 12px;
   }

   //Recent
   .recent {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 10px;
      padding: 10px;
   }

   //brand
   .brand {
      flex-wrap: wrap;
      height: auto;

      div {
         width: 50%;

         img {
            width: 60%;
         }
      }
   }

   //Testimonial
   .testimonal {
      clip-path: polygon(35% 0, 0 0, 0 100%, 100% 100%, 100% 0, 65% 0, 50% 5%);
   }

   .testimonial__item-content {
      justify-content: center;
   }

   .testimonial__item {
      img {
         width: 100px;
         transition: transform 0.2s ease-in-out;

         &:hover {
            transform: scale(1.5);
         }
      }

      i {
         font-size: 16px;
      }

      h4 {
         font-size: 25px;
         margin: 15px 0 5px;
      }

      p {
         font-size: 12px;
      }
   }

   //Footer
   .footer__top {
      height: auto;
      flex-wrap: wrap;

      .footer__top-item {
         width: 100%;
      }

      .footer__top-social {
         width: 100%;
         margin-bottom: 30px;

         .footer__top-social-ico {
            a {
               width: 40px;
               height: 40px;
            }
         }
      }
   }

   .input-wrapper {
      width: 100% !important;

      button {
         width: 80px !important;
      }
   }

}